apollo_torch==1.0.3
av==14.2.0
bitsandbytes==0.45.4
datasets==3.4.1
fastapi==0.115.12
fire==0.7.0
galore_torch==1.0
gradio==5.23.3
huggingface_hub==0.29.3
jieba==0.42.1
librosa==0.11.0
matplotlib==3.10.1
MoD==0.3.0
modelscope==1.24.1
nltk==3.9.1
numpy==2.2.4
openai==1.70.0
openmind==1.0.0
packaging==24.2
pandas==2.2.3
peft==0.15.0
Pillow==11.2.0
psutil==7.0.0
pydantic==2.11.1
pytest==8.3.5
PyYAML==6.0.2
PyYAML==6.0.2
ray==2.44.1
Requests==2.32.3
rouge_chinese==1.0.3
safetensors==0.5.3
setuptools==65.5.1
sglang==0.4.4.post3
sse_starlette==2.2.1
swanlab==0.5.4
torch==2.6.0
tqdm==4.67.1
transformers==4.50.0
trl==0.9.6
typing_extensions==4.13.0
uvicorn==0.34.0
vllm==0.8.2
